<div class="flex-column">
    <h3>Change your password</h3>
    <form id="ChangePasswordForm" class="form">
        <div class="form_row">
            <label class="form_label">Old Password</label>
            <input id="OldPassword" name="OldPassword" class="form_input" type="password" placeholder="Enter old password">
        </div>
        <div class="form_row">
            <label class="form_label">New Password</label>
            <input id="NewPassword" name="NewPassword" class="form_input" type="password" placeholder="Enter new password">
        </div>
        <div class="form_row">
            <label class="form_label">Confirm New Password</label>
            <input id="ConfirmNewPassword" name="ConfirmNewPassword" class="form_input" type="password" placeholder="Confirm new password">
        </div>
        <button type="button" class="button" onclick="onChangePassword()">Change Password</button>
    </form>
</div>


<script>
    var changePasswordForm = $("#ChangePasswordForm");

    changePasswordForm.validate({
        rules: {
            OldPassword: {
                required: true,
                minlength: 6
            },
            NewPassword: {
                required: true,
                minlength: 6
            },
            ConfirmNewPassword: {
                required: true,
                minlength: 6
            },
        }
    });

    function onChangePassword() {

        if (!changePasswordForm.valid()) {
            hideLoader();
            return;
        }

        $.ajax({
            type: "POST",
            url: "/Account/ChangeAccountPassword",
            dataType: "JSON",
            data: {
                OldPassword: $("#OldPassword").val(),
                NewPassword: $("#NewPassword").val(),
                ConfirmNewPassword: $("#ConfirmNewPassword").val(),
            },
            success: function (data) {
                if (data.statusCode === 0) {
                    alertify.notify(data.message, 'success', 1, function () {
                        window.location.href = "/Account/Manage"
                    });
                }
                else {
                    alertify.notify(data.message, 'error', 1, function () {
                        hideLoader();
                    });
                }
            }
        });
    }
</script>