.credentials_container {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 25px auto;
  background-color: #d4d5d6;
  box-shadow: 10px 10px 15px black;
}
@media (max-width: 870px) {
  .credentials_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
.credentials_image_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(206, 2, 2, 0.6);
  width: 50%;
}
@media (max-width: 870px) {
  .credentials_image_box {
    width: 100%;
    height: 300px;
  }
  .credentials_image_box img {
    height: auto;
    width: 300px;
  }
}
@media (max-width: 320px) {
  .credentials_image_box {
    display: none;
  }
}
