<link rel="stylesheet" href="~/css/homepage.min.css" asp-append-version="true" />

<div class="hero-container">
        <div class="hero-content">
            <h1>Welcome to Library App</h1>
            <p>Discover a world of books.</p>
            <p>Register now and become one of the most popular librarians.</p>
        </div>
</div>
