@use "utils" as *;

.manage-container {
    @include flex-center-content;
    margin: 50px auto;

    &-left, &-right {
        @include flex-column;
        align-items: center;
        border-radius: 10px;
        width: 50%;
    }

    &-right {
        background-image: linear-gradient(to bottom right, rgba(1,251,170, 1), rgba(0,0,0, 1));
        justify-content: center;
        max-width: 450px;
        height: 250px;
        gap: 15px;
        margin-left: -85px;
        box-shadow: 10px 10px 9px rgba(0,0,0,0.3);

        .button {
            background-color: rgba(206,2,2,0.5);
            margin-left: 75px;
            width: 200px;

            &:hover {
                background-color: rgba(206,2,2,0.5);
            }

            @include size_M {
                margin: auto;
                margin-top: 0;
                justify-content: flex-start;
                margin-bottom: 0;
                width: 200px;
            }

            @include size_XS {
                font-size: 12px;
                width: 150px;
            }
        }

        @include size_M {
            margin: 0;
            margin-top: -50px;
            padding-top: 50px;
            width: 75%;
        }
    }

    &-left {
        height: 400px;
        background: url("../../images/manage-bg.jpg");
        background-size: cover;
        background-position: center;
        justify-content: space-between;
        color: white;
        z-index: 1;

        @include size_M {
            width: 100%;
        }
    }


    @include size_M {
        flex-direction: column;
    }
}