

$bg-color-dark: black;
$bg-color-light: white;

$text-color-dark: black;
$text-color-light: white;
$text-color-error: red;


$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 800;

$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xxl: 36px;


$animation-speed: .5s;